.pane{
	 background: url('../img/bg.jpg') repeat center center fixed;
}
.card
{
	margin-top:2cm;
	text-align: center;
	opacity: 0.8;
}
.menus
{
	text-align: center;
	margin-top: 0.2cm;
}
.container {
position:relative;
text-align: center;
margin-top: 1cm;
margin: 5px;
border: 2px solid #45db63;
float: center;
}
.container2 {
position:relative;
text-align: center;
margin-top: 1cm;
}
.textbox:hover {
opacity:1;
}
.text {
padding-top: 50px;
color: white;
}