<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
    <title></title>

    <link href="lib/ionic/css/ionic.css" rel="stylesheet">
    <link href="css/style.css" rel="stylesheet">
    <link href="css/animasi.css" rel="stylesheet">

    <!-- IF using Sass (run gulp sass first), then uncomment below and remove the CSS includes above
    <link href="css/ionic.app.css" rel="stylesheet">
    -->

    <!-- ionic/angularjs js -->
    <script src="lib/ionic/js/ionic.bundle.js"></script>

    <!-- cordova script (this will be a 404 during development) -->
    <script src="cordova.js"></script>

    <!-- your app's js -->
    <script src="js/test.js"></script>
  </head>
    <body ng-app="testApp"  ng-controller="MyController">
    <ion-pane>
        <div class="bar bar-header bar-positive">
          <h1 class="title">XL Canteen</h1>
          <button class="button button-clear button-light" >Close</button>
        </div>
         <ion-content>
              <ion-refresher>
               pulling-text="Pull to refresh..."
               on-refresh="doRefresh()">
              </ion-refresher>
            <div class="card">
              <div class="item item-text-wrap"><img src="img/status.png">
                <div class="menus">Status Order </br> (Please click the number)
            </div>
              </div>
                </div>
            <button class="button button-full button-positive" style="opacity:0.7" ng-click="openPopover($event)">
            089234890092
            <button class="button button-full button-positive" style="opacity:0.7" ng-click="openPopover($event)">
            085719520317
            </button>
                <script id="status.html" type="text/ng-template">
                <ion-popover-view div class="popver">
                <ion-content>
                <div class="sukses"><i class="ion-checkmark-circled"></i></div>Status Success
                </ion-content>
                </ion-popover-view>
                </script>
          </ion-content>
   <div class="tabs tabs-icon-top">
  <a class="tab-item">
  <i class="icon ion-star"  style="color:blue;" onclick="javascript:location.replace('index.html')""></i>
    Menu
  </a>
  <a class="tab-item">
     <i class="icon ion-bag" style="color:blue;" onclick="javascript:location.replace('incomingorder.html')""></i>
    Order
  </a>
  <a class="tab-item">
    <i class="icon ion-person-stalker" style="color:blue;" onclick="javascript:location.replace('statusorder.html')""></i>
    Confirmation
  </a>
</div>
</ion-pane>
</body>
</html>